body{
  font-style: 80%;
  font-family: "courier New".Courier. monospace;
  letter-spacing: 0.15em;
  background-color: grey;
}
  #page{
  max-width: 100%;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px;
  background-color: #ffffff;
}

ul {
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    height: 100%;
}
li a:hover {
    background-color: yellow;
}

h1{
  position:fixed;
  transform: translateX(35vw);
  margin-top:250px;
  color: red;
  text-align:center;
  font-size: 40px;
  border:solid;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #00000

}
.photo{
  background: url(https://cdn.education.com/files/static/current-issues-in-education/main-img.jpg) no-repeat center center;
  background-size: cover;
  height:100%;
  width:90%;
  padding-bottom: 60%;
  padding-right: 10%;
  opacity: 0.7;

}
footer{
  background-color:black;
  color: white;
}
/*nav {
  position:fixed;
  top: 0;
  list-style: none;
  font-weight:bold;
  margin-bottom:0px;
  width: 100%;
  text-align: center;
}*/

/*}
ul {
  list-style-type: none;
  margin: 5px;
  padding: 30px;
  overflow: hidden;
  background-color: brown;

}
li {
  float: left;
  padding-left: 20px;
}
li:hover:not(.active) {
  background-color: #785045;
}
li a {
  display: block;
  color: black;
   text-align: center;
   padding: 20px;
   text-decoration: none;
}*/
